#contenidor{
    position: relative;
    width: 1000px;
    height: 1000px;
    margin:auto;
    border: 0.1px solid black;
}

#contenidor .cabeza{
    background-color: green;
    position: absolute;
    top: 200px;
    left: -0px;
    width: 150px;
    height: 150px;
    right: 0px;
    margin: auto;
    border-radius: 5%
}
