#navidad{
    position: absolute;
    width: 400px;
    height: 700px;
    margin: auto;
    top: 0;
    bottom: 1;
    right: 1;
    left: 0;
    border: 0.1em solid white;
    animation-name: caminar;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

#navidad .pelo{
    transform: rotate(0deg);
    background-color: black;
    position: absolute;
    width: 60px;
    height: 140px;
    left: -290px;
    top: 100px;
    right: 0px;
    margin: auto;
    border-radius: 10%;
    z-index: 3;
}

#navidad .pelo1{
    transform: rotate(90deg);
    background-color: black;
    position: absolute;
    width: 70px;
    height: 90px;
    left: -250px;
    top: 90px;
    right: 0px;
    margin: auto;
    border-radius: 10%;
    z-index: 3;
}

#navidad .cabeza{
    background-color: sandybrown;
    position: absolute;
    width: 150px;
    height: 150px;
    left: -200px;
    top: 100px;
    right: 0px;
    margin: auto;
    border-radius: 10%;
}

#navidad .cuerpo{
    background-color: blue;
    position: absolute;
    width: 70px;
    height: 300px;
    left: -200px;
    right: 0px;
    top: 250px;
    margin: auto;
    z-index: 2;
    border-radius: 10%;
}

#navidad .pantalon{
    background-color: gray;
    position: absolute;
    width: 70px;
    height: 150px;
    left: -200px;
    right: 0px;
    top: 400px;
    margin: auto;
    z-index: 3;
    border-radius: 10%;
}

#navidad .pantalon1{
    background-color: gray;
    position: absolute;
    width: 50px;
    height: 100px;
    left: -0px;
    right: 0px;
    top: -0px;
    margin: auto;
    z-index: 1;
    border-radius: 10%;
}

#navidad .pantalon2{
    background-color: gray;
    position: absolute;
    width: 50px;
    height: 100px;
    left: -0px;
    right: 0px;
    top: -0px;
    margin: auto;
    z-index: 2;
    border-radius: 10%;
}

#navidad .brazo-izq {
    background-color: sandybrown;
    position: absolute;
    width: 45px;
    height: 160px;
    left: -200px;
    right: 0px;
    top: 250px;
    margin: auto;
    z-index: 1;
    animation-name: brazo-izq;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 10%;
}

#navidad .brazo-der {
    background-color: sandybrown;
    position: absolute;
    width: 45px;
    height: 160px;
    left: -200px;
    right: 0px;
    top: 250px;
    margin: auto;
    z-index: 3;
    animation-name: brazo-der;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 10%;
}


@keyframes brazo-der {
    0%   {transform: translate(-10px) rotate(20deg);}
    25%  {transform: translate(10px) rotate(-20deg);}
    50%   {transform: translate(-10px) rotate(20deg);}
    75%  {transform: translate(10px) rotate(-20deg);}
    100% {transform: translate(-10px) rotate(20deg);}
}


@keyframes brazo-izq {
    0%   {transform: translate(10px) rotate(-20deg);}
    25%  {transform: translate(-10px) rotate(20deg);}
    50%   {transform: translate(10px) rotate(-20deg);}
    75%  {transform: translate(-10px) rotate(20deg);}
    100% {transform: translate(10px) rotate(-20deg);}
}

#navidad .pierna-der {
    background-color: sandybrown;
    position: absolute;
    width: 45px;
    height: 170px;
    left: -200px;
    right: 0px;
    top: 500px;
    margin: auto;
    animation-name: pierna-der;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 10%;
    z-index: 3;
}

#navidad .pierna-izq {
    background-color: sandybrown;
    position: absolute;
    width: 45px;
    height: 170px;
    left: -200px;
    right: 0px;
    top: 500px;
    margin: auto;
    animation-name: pierna-izq;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 10%;
    z-index: 1;
}

@keyframes pierna-izq {
    0%   {transform: translate(10px) rotate(-20deg);}
    25%  {transform: translate(-10px) rotate(20deg);}
    50%   {transform: translate(10px) rotate(-20deg);}
    75%  {transform: translate(-10px) rotate(20deg);}
    100% {transform: translate(10px) rotate(-20deg);}
}

@keyframes pierna-der {
    0%   {transform: translate(-10px) rotate(20deg);}
    25%  {transform: translate(10px) rotate(-20deg);}
    50%   {transform: translate(-10px) rotate(20deg);}
    75%  {transform: translate(10px) rotate(-20deg);}
    100% {transform: translate(-10px) rotate(20deg);}
}

.arbol {
    position: absolute;
    border: 0.1em solid yellow;
    width: 1000px;
    height: 1000px;
    top: 0;
    bottom: 300px;
    left: 1000;
    right: 0;
    margin: auto;
    opacity: 0;
    animation-name: arbol;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

.tronco{
    transform: rotate(90deg);
    bottom: 65px;
    right: 400px;
    position: absolute;
    background-color: rgb(165, 17, 17);
    height: 70px;
    width: 200px;
}

.triangulo{
    transform: rotate(-90deg);
    bottom: 65px;
    right: 370px;
    position: absolute;
    border-left: 250px solid green;
    border-top: 230px solid transparent;
    border-bottom: 230px solid transparent; 
}

.triangulo1{
    transform: rotate(-90deg);
    bottom: 200px;
    right: 375px;
    position: absolute;
    border-left: 240px solid green;
    border-top: 220px solid transparent;
    border-bottom: 220px solid transparent; 
}

.triangulo2{
    transform: rotate(-90deg);
    bottom: 350px;
    right: 375px;
    position: absolute;
    border-left: 230px solid green;
    border-top: 210px solid transparent;
    border-bottom: 210px solid transparent; 
}

.triangulo3{
    transform: rotate(-90deg);
    bottom: 480px;
    right: 380px;
    position: absolute;
    border-left: 220px solid green;
    border-top: 200px solid transparent;
    border-bottom: 200px solid transparent; 
}

.bola1{
    right: 520px;
    top: 280px;
    position: absolute;
    z-index: 6;
    background-color: red;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola2{
    right: 400px;
    top: 370px;
    position: absolute;
    z-index: 6;
    background-color: blue;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola3{
    right: 500px;
    top: 340px;
    position: absolute;
    z-index: 6;
    background-color: yellow;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola4{
    right: 450px;
    top: 620px;
    position: absolute;
    z-index: 6;
    background-color: purple;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola5{
    right: 500px;
    top: 500px;
    position: absolute;
    z-index: 6;
    background-color: cyan;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola6{
    right: 400px;
    top: 550px;
    position: absolute;
    z-index: 6;
    background-color: orangered;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola7{
    right: 580px;
    top: 620px;
    position: absolute;
    z-index: 6;
    background-color: white;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

.bola8{
    right: 450px;
    top: 730px;
    position: absolute;
    z-index: 6;
    background-color: darkblue;
    border-radius: 100%;
    height: 25px;
    width: 25px;
}

@keyframes caminar {
    100%  {transform: translate(1500px);}
}

@keyframes arbol {
    0% {
        opacity: 0;
        transition: opacity 1s;
    }

    100% {
        opacity: 1;
        transition: opacity 2s;
    }
}